USE [master]
GO
/****** Object:  Database ["BUILD_PROJECT_2024!"]    Script Date: 7/30/2024 1:44:06 PM ******/
CREATE DATABASE ["BUILD_PROJECT_2024!"]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_BUILD_PROJECT_2024!_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2024X\MSSQL\DATA\_BUILD_PROJECT_2024!_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_BUILD_PROJECT_2024!__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2024X\MSSQL\DATA\_BUILD_PROJECT_2024!__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC ["BUILD_PROJECT_2024!"].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE ["BUILD_PROJECT_2024!"]
GO
/****** Object:  Table [dbo].[HealthCareProviders]    Script Date: 7/30/2024 1:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCareProviders](
	[provider_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[dob] [date] NULL,
	[gender] [varchar](1) NULL,
	[npi] [varchar](10) NULL,
	[address] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](2) NULL,
	[zip] [varchar](10) NULL,
	[phone] [varchar](15) NULL,
	[hospital_id] [int] NULL,
	[role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 7/30/2024 1:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[hospital_id] [int] NOT NULL,
	[hospital_name] [varchar](100) NULL,
	[hospital_address] [varchar](100) NULL,
	[hospital_city] [varchar](50) NULL,
	[hospital_state] [varchar](2) NULL,
	[hospital_zip] [varchar](10) NULL,
	[hospital_phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalClaims]    Script Date: 7/30/2024 1:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalClaims](
	[claim_id] [int] NOT NULL,
	[patient_id] [int] NULL,
	[provider_id] [int] NULL,
	[ndc] [varchar](12) NULL,
	[quantity] [int] NULL,
	[total_amount] [decimal](10, 2) NULL,
	[days_supply] [int] NULL,
	[prescription_number] [varchar](10) NULL,
	[date_filled] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[claim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/30/2024 1:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[dob] [date] NULL,
	[gender] [varchar](1) NULL,
	[mrn] [varchar](10) NULL,
	[ssn] [varchar](11) NULL,
	[insurance_id] [varchar](10) NULL,
	[hospital_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HealthCareProviders]  WITH CHECK ADD FOREIGN KEY([hospital_id])
REFERENCES [dbo].[Hospitals] ([hospital_id])
GO
ALTER TABLE [dbo].[MedicalClaims]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[MedicalClaims]  WITH CHECK ADD FOREIGN KEY([provider_id])
REFERENCES [dbo].[HealthCareProviders] ([provider_id])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([hospital_id])
REFERENCES [dbo].[Hospitals] ([hospital_id])
GO
USE [master]
GO
